{% block footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>RatSoft</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2017-2018 <!--<a href="https://adminlte.io">Almsaeed Studio</a>-->.</strong> All rights
        reserved.
</footer>
{% endblock %}