<!DOCTYPE html>
<html>
<head>
	<title>prueba de datatable</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#example1').DataTable({
            "processing": true,
            //"serverSide": true,
            //"searching" : true,
            "ajax": "/empresa",
            "columns": [
              { "data": "id"},
              { "data": "nombre",
          		"searchable" : true	},
              { "data": "domicilio"},
              //{ "data": "localidad"},
              //{ "data": "cuit"},
              //{ "data": "iibb"},
              //{ "data": "titular"},
              //{ "data": "activo"},
              //{ "data": "iva"},
              //{ "data": "provincia"},
              //{ "data": "rubro"},
            ]
                       
            });
        });
    </script>
    <table id="example1" class="display" cellspacing="0" width="100%">
    	<thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>domicilio</th>
                <!-- <th>localidad</th>
                <th>cuit</th>
                <th>iibb</th>
                <th>titular</th>
                <th>activo</th>
                <th>iva</th>
                <th>provincia</th>
                <th>rubro</th> 
            	-->
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>domicilio</th>
                <!-- <th>localidad</th>
                <th>cuit</th>
                <th>iibb</th>
                <th>titular</th>
                <th>activo</th>
                <th>iva</th>
                <th>provincia</th>
                <th>rubro</th>
            	-->
            </tr>
        </tfoot>
    </table>
</body>
</html>