<!DOCTYPE html>
<html>
<head>
	<title>prueba de datatable</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    




    <script src="{{ asset('ratsoft/ratsoft.js') }}"></script>
    <script>
        $(document).ready(comboFill("/rubros","id","nombre","#combo"));
    </script>
    <select id="combo"></select>

    
</body>
</html>