{% extends 'FrontendBundle::Empresas/empresa-listado.html.twig' %}
{% block botones %}
	<div class="text-center">
		<div class="col-xs-6">
			<button class="btn btn-default btn-block">Compras</button>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-default btn-block">Ventas</button>
		</div>
	</div>
	<br>
{% endblock %}
