{% extends 'FrontendBundle::Empresas/empresa-listado.html.twig' %}
{% block botones %}
	<div>
		<button class="btn btn-primary">Compras</button>
		<button class="btn btn-primary">Ventas</button>
	</div>
{% endblock %}
