{% extends 'FrontendBundle::Empresas/empresa-listado.html.twig' %}
{% block botones %}
	<div>
		<button class="btn btn-primary">IVA</button>
		<button class="btn btn-primary">IIBB</button>
	</div>
{% endblock %}