{% extends 'FrontendBundle::Empresas/empresa-listado.html.twig' %}
{% block botones %}
	<div>
		<button class="btn btn-default">IVA</button>
		<button class="btn btn-default">IIBB</button>
	</div>
{% endblock %}